<div class="row animated fadeInDown">
    <div class="wrap-form">
        <form class="m-t" role="form" method="post" action="/member/forgot-password">
            <div class="form-group">
                <ul class="list-unstyled">
                    <li>
                        <div class="form-group">
                            <input type="email" name="mail" class="form-control" placeholder="Email to receiver" required="">
                        </div>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary">
                            Send to this mail
                        </button>
                    </li>
                    <li>
                        <a href="/member/login" class="btn btn-danger form-control _member-a"><i class="fa fa-sign-in"></i>
                            Back to Login
                        </a>
                    </li>
                    <li>
                        <a href="/member/register" class="btn btn-info form-control _member-a">
                            Sign-up
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
