<div class="type-of-examp" ng-controller="homeCtrl">
    <div class="col-lg-3 col-lg-offset-3 examp-btn" ui-sref="a1" style="background: #449D44">
    	<div class="media">
    		<a class="pull-left media-icon" href="#" >
    			<i class="fa fa-bicycle fa-2x"></i>
    		</a>
    		<div class="media-body">
    			<h4 class="media-heading">Hạng A1</h4>
    			<span>Các loại xe có động cơ dưới 150cc</span>
    		</div>
    	</div>
        
    </div>
    <div class="col-lg-3 examp-btn" ui-sref="a2" style="background: #286090">
    	<div class="media">
    		<a class="pull-left media-icon" href="#" >
    			<i class="fa fa-bicycle fa-2x"></i>
    		</a>
    		<div class="media-body">
    			<h4 class="media-heading">Hạng A2</h4>
    			<span>Các loại xe có động cơ dưới 175cc</span>
    		</div>
    	</div>
        
    </div>
</div>


