<div class="row" ng-controller="a1Ctrl">
	<div class="col-lg-3 col-lg-offset-3 examp-btn" ui-sref="a1" style="background: #EC971F">
    	<div class="media">
    		<a class="pull-left media-icon" href="#" >
    			<i class="fa fa-file-text-o fa-2x"></i>
    		</a>
    		<div class="media-body">
    			<h4 class="media-heading">Luyện thi</h4>
    			<span>Tổng hợp các câu hỏi ngẫu nhiên</span>
    		</div>
    	</div>
    </div>
    <div class="col-lg-3 examp-btn" ui-sref="a1-examp" style="background: #C9302C">
    	<div class="media">
    		<a class="pull-left media-icon" href="#" >
    			<i class="fa fa-mortar-board fa-2x"></i>
    		</a>
    		<div class="media-body">
    			<h4 class="media-heading">Bài thi</h4>
    			<span>Mỗi bài thi gồm 20 câu hỏi hoàn thành trong 20 phút</span>
    		</div>
    	</div>
    </div>

</div>