<div class="row profile" ng-controller="a1Ctrl">
	<div class="col-lg-6 col-lg-offset-3">
		<form action="" method="POST" class="form-horizontal" role="form">
				<div class="form-group">
					<legend>Form title</legend>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
		</form>
	</div>
</div>

<!-- <div class="col-lg-12 examp-toolbar">
			<a href="" ng-click="startExamp()" class="text-center"><i class="fa fa-play"></i> Bắt đầu thi</a>
		</div> -->